<% provide(:title, 'Tarefas') %>
<% provide(:header, 'Histórico') %>
<% provide(:description, 'Histórico das tarefas.') %>
<% provide(:levels, 'Tarefas, Histórico') %>

<div class="row">
  <div class="col-xs-12">
    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title">Tarefas</h3>

        <!-- This is for another moment for filter tasks -->
        <!-- <div class="box-tools">
          <div class="input-group" style="width: 150px;">
            <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div> -->

      </div><!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <div class="col-sm-12">
          <table data-link="row" class="table table-hover rowlink">
            <tr>
              <th></th>
              <th>Plataforma</th>
              <th>Nome</th>
              <th>Status</th>
              <th>Criada em:</th>
              <th>Iniciada em:</th>
              <th>Finalizada em:</th>
              <th></th>
            </tr>
            <% @tasks.each_with_index do |task, index| %>
              <tr>
                <td><%= @tasks.offset + index + 1%></td>
                <td><%= task.platform_name %></td>
                <td><%= task.task_name %></td>
                <td><%= status_flag(task.status) %></td>
                <td><%= time_tag task.created_at %></td>
                <td><%= time_tag task.started_at unless task.started_at.nil? %></td>
                <td><%= time_tag task.finished_at unless task.finished_at.nil? %></td>
                <td class="rowlink-skip"><%= link_to fa_icon("search-plus", class: "fa-lg"), task_path(task) %></td>
              </tr>
            <% end %>
          </table>
        </div><!-- col-sm-12 -->
      </div><!-- /.box-body -->
      <div class="row">
        <div class="col-sm-12">
          <%= will_paginate @tasks, class: 'backhere_pagination' %>
          <div class="backhere_page_info">
            <%= page_entries_info @tasks %>
          </div><!-- backhere_page_info -->
        </div><!-- col-sm-12 -->
      </div><!-- row -->
    </div><!-- /.box -->
  </div><!-- col-xs-12 -->
</div><!-- row -->