<% provide(:title, 'Tarefas') %>
<% provide(:header, 'Criar') %>
<% provide(:description, 'Criar uma nova tarefa a ser executada.') %>
<% provide(:levels, 'Tarefas, Criar') %>

<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">Lista de plataformas cadastradas e tarefas executáveis</h3>
  </div><!-- /.box-header -->
  <div class="box-body task-index-responsive">
    <%= form_tag(tasks_path, :method => :post ) do %>
     <div class="col-sm-12">     
        <div class="col-sm-4">
          <h3 class="box-title">Plataformas</h3>
            <% @platforms.each do |platform| %>
              <div class="input-group">
                <span class="input-group-addon">
                  <%= check_box_tag 'platform_ids[]', platform.id, (platform == @platforms.first ? true : false), class: 'icheck-me', 'data-skin' => 'square', 'data-color' => 'orange' %>
                </span>
                <span class="form-control"><%= platform.name %></span>
              </div><!-- /input-group -->
            <% end %>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <h3 class="box-title">Tarefas</h3>
          <% @available_tasks.each do |task| %>
            <div class="input-group">
              <span class="input-group-addon">
                <%= radio_button_tag :type, task.generic_type, (task == @available_tasks.first ? true : false), class: 'icheck-me', 'data-skin' => 'square', 'data-color' => 'orange' %>
              </span>
              <span class="form-control"><%= task.task_name %></span>
            </div><!-- /input-group -->
          <% end %>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <h3 class="box-title">Completa ?</h3>
          <div class="input-group">
            <span class="input-group-addon">
              <%= check_box_tag :full_task, true, false, class: 'icheck-me', 'data-skin' => 'square', 'data-color' => 'orange' %>
            </span>
            <span class="form-control">Sim</span>
            <span class="input-group-btn">
              <%= submit_tag "Criar", class: 'btn btn-primary btn-flat' %>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-sm-4 -->
      </div><!-- /.col-sm-12 -->
    <% end %>
  </div><!-- /.box-body -->
</div><!-- /.box -->