<% provide(:title, 'Home') %>

<%= render 'navbar' %>
<%= render 'header' %>
<%= render 'bg_primary' %>
<%= render 'services' %>
<!-- <%= render 'portfolio' %> -->
<%= render 'call_to_action' %>
<%= render 'contact' %>


<!-- 

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to 'Seller Login', seller_session_path %></br>
<% if current_seller.present? %>
  <%= link_to 'Seller Logout', destroy_seller_session_path , method: :delete %></br>
<% end %>
</br>
<%= link_to 'User Login', user_session_path %></br>
<% if current_user.present? %>
  <%= link_to 'User Logout', destroy_user_session_path , method: :delete %></br>
<% end %>
</br>
<%= link_to 'Admin Login', rails_admin_path %></br>

-->