<% provide(:title, 'Clientes') %>
<% provide(:header, "#{@customer.name.capitalize}") %>
<% provide(:description, "Detalhes sobre o cliente #{@customer.name.capitalize}") %>
<% provide(:levels, "Clientes, #{@customer.name.capitalize}") %>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Detalhes</h3>
  </div><!-- /.box-header -->
  <%= form_tag(customer_path(@customer), class:"form-horizontal" ) do %>
    <div class="box-body">
      <div class="form-group">
        <%= label_tag nil, "Nome:", class: 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= text_field_tag nil, @customer.name, class: "form-control", readonly: true %>
        </div><!-- col-sm-5 -->
      </div><!-- form-group -->
      <div class="form-group">
        <%= label_tag nil, "Importado em:", class: 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= time_tag @customer.created_at, class: "form-control", readonly: true %>
        </div><!-- col-sm-5 -->
      </div><!-- form-group -->
      <div class="form-group">
        <%= label_tag nil, "Atualizado em:", class: 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= time_tag @customer.updated_at, class: "form-control", readonly: true %>
        </div><!-- col-sm-5 -->
      </div><!-- form-group -->
      <div class="form-group">
        <%= label_tag nil, "Identificador externo:", class: 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= text_field_tag nil, @customer.remote_id, class: "form-control", readonly: true %>
        </div><!-- col-sm-5 -->
      </div><!-- form-group -->
      <div class="form-group">
        <%= label_tag nil, "Convidado:", class: 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= text_field_tag nil, boolean_text(@customer.is_guest), class: "form-control", readonly: true %>
        </div><!-- col-sm-5 -->
      </div><!-- form-group -->
      <div class="form-group">
        <%= label_tag nil, "Documento:", class: 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= text_field_tag nil, @customer.document, class: "form-control", readonly: true %>
        </div><!-- col-sm-5 -->
      </div><!-- form-group -->
      
      <%= render partial: 'dynamic_attributes', locals: { attributes: @customer.dynamic_attributes } %>

      <div class="col-sm-9">
        <div class="col-sm-6">
          <%= render partial: 'emails', locals: { emails: @customer.emails } %>
        </div>
        <div class="col-sm-6">
          <%= render partial: 'phones', locals: { phones: @customer.phones } %>
        </div>
      </div>

    </div><!-- /.box-body -->
  <% end %>
</div><!-- /.box -->