<% provide(:title, 'Pedidos') %>
<% provide(:header, "#{@order.internal_code}") %>
<% provide(:description, "Detalhes sobre o pedido #{@order.internal_code}") %>
<% provide(:levels, "Pedidos, #{@order.internal_code}") %>

<div class="row">
  <div class="col-sm-4">

    <div class="box box-danger">
      <div class="box-header with-border">
        <%= fa_icon "info" %>
        <h3 class="box-title">Informações do Pedido</h3>
        <div class="box-tools pull-right">
          <%= button_tag(class: "btn btn-box-tool", "data-widget" => "collapse") do %>
            <%= fa_icon("minus") %>
          <% end %>
        </div><!-- box-tools pull-right -->
      </div><!-- /.box-header -->
      <%= render partial: "order_infos", locals: { order: @order } %>
    </div><!-- /.box -->

    <div class="box box-danger">
      <div class="box-header with-border">
        <%= fa_icon "truck" %>
        <h3 class="box-title">Informações de Envio</h3>
        <div class="box-tools pull-right">
          <%= button_tag(class: "btn btn-box-tool", "data-widget" => "collapse") do %>
            <%= fa_icon("minus") %>
          <% end %>
        </div><!-- box-tools pull-right -->
      </div><!-- /.box-header -->
      <%= render partial: "shipping_info", locals: { shipping: @order.shipping } %>
    </div><!-- /.box -->

    <div class="box box-danger">
      <div class="box-header with-border">
        <%= fa_icon "child" %>
        <h3 class="box-title">Cliente</h3>
        <div class="box-tools pull-right">
          <%= button_tag(class: "btn btn-box-tool", "data-widget" => "collapse") do %>
            <%= fa_icon("minus") %>
          <% end %>
        </div><!-- box-tools pull-right -->
      </div><!-- /.box-header -->
      <%= render partial: "customer_info", locals: { customer: @order.customer } %>
    </div><!-- /.box -->

  </div>

  <div class="col-sm-8 no-padding">
    <div class="col-sm-6">
      <div class="box box-danger">
        <div class="box-header with-border">
          <%= fa_icon "map-marker" %>
          <h3 class="box-title">Endereço de Cobrança</h3>
          <div class="box-tools pull-right">
            <%= button_tag(class: "btn btn-box-tool", "data-widget" => "collapse") do %>
              <%= fa_icon("minus") %>
            <% end %>
          </div><!-- box-tools pull-right -->
        </div><!-- /.box-header -->
        <%= render partial: "address", locals: { address: @order.billing_address } %>
      </div><!-- /.box -->
    </div>
    <div class="col-sm-6">
      <div class="box box-danger">
        <div class="box-header with-border">
          <%= fa_icon "map-marker" %>
          <h3 class="box-title">Endereço de Entrega</h3>
          <div class="box-tools pull-right">
            <%= button_tag(class: "btn btn-box-tool", "data-widget" => "collapse") do %>
              <%= fa_icon("minus") %>
            <% end %>
          </div><!-- box-tools pull-right -->
        </div><!-- /.box-header -->
        <%= render partial: "address", locals: { address: @order.shipping_address } %>
      </div><!-- /.box -->
    </div>
    <div class="col-sm-12">
      <div class="box box-danger">
      <div class="box-header with-border">
        <%= fa_icon "history" %>
        <h3 class="box-title">Histórico</h3>
        <div class="box-tools pull-right">
          <%= button_tag(class: "btn btn-box-tool", "data-widget" => "collapse") do %>
            <%= fa_icon("minus") %>
          <% end %>
        </div><!-- box-tools pull-right -->
      </div><!-- /.box-header -->
      <%= render partial: "trackings", locals: { trackings: @order.trackings } %>
    </div><!-- /.box -->
      <div class="box box-danger">
        <div class="box-header with-border">
          <% if @order.items.count > 1 %>
            <%= fa_icon "cubes" %>
            <h3 class="box-title">Itens</h3>
          <% else %>
            <%= fa_icon "cube" %>
            <h3 class="box-title">Item</h3>
          <% end %>
          <div class="box-tools pull-right">
            <%= button_tag(class: "btn btn-box-tool", "data-widget" => "collapse") do %>
              <%= fa_icon("minus") %>
            <% end %>
          </div><!-- box-tools pull-right -->
        </div><!-- /.box-header -->
        <%= render partial: "items", locals: { items: @order.items } %>
      </div><!-- /.box -->
    </div>
  </div>
</div>