<%= render partial: 'layouts/form_errors', locals: { obj: magento } %>  
<!-- form start -->
<%= form_for(magento, html: { class:"form-horizontal" }) do |f| %>
  <div class="box-body">

    <div class="form-group">
      <%= f.label :name, "Nome:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-5">
        <%= f.text_field :name, class: "form-control", placeholder: "Informe o nome que você quer dar ao Magento" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :url, "Url:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-5">
        <%= f.text_field :url, class: "form-control", placeholder: "Informe a url do seu Magento. Ex: http://www.magento-teste.com.br/" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :version, "Versão Macro:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-5">
        <%= f.select(:version, magento.version_enum, { include_blank: "Selecione uma versão" }, { class: "form-control" }) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :api_user, "Usuário:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-5">
        <%= f.text_field :api_user, class: "form-control", placeholder: "Informe o usuário da api" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :api_key, "Senha:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-5">
        <%= f.text_field :api_key, class: "form-control", placeholder: "Informe a senha da api" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :api_url, "Url da api:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-5">
        <%= f.text_field :api_url, class: "form-control", placeholder: "Informe a url da api" %>
      </div>
    </div>

     <div class="form-group">
      <%= f.label :start_date, "Início da operação:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">
            <%= fa_icon "calendar" %>
          </span>
          <%= f.text_field :start_date, class: "form-control datepicker", placeholder: "dd/mm/yyyy" %>
          <span class="input-group-addon">
            <%= link_to (fa_icon "close", id: 'clear-datepicker'), '#' %>
          </span>
        </div>
      </div>
    </div>

    <div class="box-footer">
      <%= link_to fa_icon("reply", text: content_tag(:span, 'Voltar')), platforms_path, class: 'btn btn-primary' %>
      <%= button_tag( class: "btn btn-primary") do %>
        <%= fa_icon((magento.persisted? ? "refresh" : "check" ), text: content_tag(:span, (magento.persisted? ? "Atualizar" : "Cadastrar" ))) %>
      <% end %>
    </div>
  </div>
<% end %>