<% provide(:title, 'Status') %>
<% provide(:header, "Status dos pedidos") %>
<% provide(:description, "Lista de todos os status.") %>
<% provide(:levels, 'Status') %>

<div class="box box-danger">
  <div class="box-header with-border">
    <!-- <h3 class="box-title">Status</h3> -->
  </div>
  <div class="box-body">
    <div class="col-sm-12">
      <div class="col-sm-3 form-group">
        <%= label_tag :label, "Nome" %>
      </div>
      <div class="col-sm-3 form-group">
        <%= label_tag :code, "Código" %>
      </div>
      <div class="col-sm-3 form-group">
        <%= label_tag :status_type, "Tipo do status" %>
      </div>
      <div class="col-sm-2 form-group">
        <%= button_tag( class: "btn btn-primary", id: "update_all_status") do %>
          <%= fa_icon("refresh", text: content_tag(:span, "Atualizar Status", 'button-text' => "Atualizar Status")) %>
        <% end %>
      </div>
    </div>
      <% @status.each do |status| %>
        <div class="col-sm-12">
        <%= form_for(status, remote: true) do |f| %>
          <div class="col-sm-3 form-group">
            <%= f.text_field :label, class: "form-control" %>
          </div>
          <div class="col-sm-3 form-group">
            <%= f.text_field :code, class: "form-control", readonly: true %>
          </div>
          <div class="col-sm-3 form-group">
            <%= f.collection_select(:status_type, @status_types, :code, :label, {selected: status.type}, {class: "form-control"}) %>
          </div>
          <div class="col-sm-2 form-group">
            <%= f.submit "Atualizar", class: "btn btn-primary hide", id: "update_status" %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->