<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
    <!-- class 'logo-mini' for sidebar mini 50x50 pixels -->
    <!-- class 'logo-lg' for regular state and mobile devices -->
  <%= build_logo_sidebar %>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <%= link_to content_tag(:span, 'Toggle navigation', class: 'sr-only'), '#', data: { toggle: 'offcanvas'}, role: 'button', class: 'sidebar-toggle' %>

    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        
        <!-- TO DO HEADER MESSAGES -->

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <%= profile_image_small %>
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              <%= profile_image %>
              <p>
                <%= current_user.name %></br>
                <%= current_user.position %>
                <small><%= current_user.created_at.to_s(:member_since) %></small>
              </p>
            </li>
            <!-- Menu Body -->
            <!-- <li class="user-body">
              <div class="col-xs-4 text-center">
                <a href="#">Followers</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Sales</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Friends</a>
              </div>
            </li> -->
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to 'Editar Perfil', edit_user_path(current_user), class: "btn btn-default btn-flat" %>
              </div>
              <div class="pull-right">
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-default btn-flat", data: { confirm: "Você tem certeza?"} %>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <!-- <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a> TO DO CONTROL SIDEBAR -->
        </li>
      </ul>
    </div>
  </nav>
</header>
