<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

  <!-- TO DO USER PANEL -->
      
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">NAVEGAÇÃO</li>
      <li class="<%= root_active_class %> <%= active_class(dashboard_path) %>">
        <%= link_to '<i class="fa fa-dashboard"></i><span> Dashboard</span>'.html_safe, dashboard_path %>
      </li>
      <li class="treeview <%= active_class(questions_path, surveys_path, notifications_path, kpis_path) %>">
        <a href="#"><%= fa_icon("bullhorn", text: content_tag(:span, 'Pós-Venda')) %> <%= fa_icon("angle-down", class:'pull-right') %></a>
        <ul class="treeview-menu">
          <li class="<%= active_class(questions_path, kpis_path) %>">
            <a href="#"><%= fa_icon("question", text: content_tag(:span, 'Perguntas')) %> <%= fa_icon("angle-down", class:'pull-right') %></a>
            <ul class="treeview-menu">
              <li><%= link_to fa_icon("plus", text: 'Criar'), new_question_path %></li>
              <li><%= link_to fa_icon("list", text: 'Listar'), questions_path %></li>
              <li class="<%= active_class(kpis_path) %>">
                <a href="#"><%= fa_icon("crosshairs", text: content_tag(:span, 'KPIs')) %> <%= fa_icon("angle-down", class:'pull-right') %></a>
                <ul class="treeview-menu">
                  <li><%= link_to fa_icon("plus", text: 'Criar'), new_kpi_path %></li>
                  <li><%= link_to fa_icon("list", text: 'Listar'), kpis_path %></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="<%= active_class(surveys_path) %>">
            <a href="#"><%= fa_icon("file-text", text: content_tag(:span, 'Pesquisas')) %> <%= fa_icon("angle-down", class:'pull-right') %></a>
            <ul class="treeview-menu">
              <li><%= link_to fa_icon("plus", text: 'Criar'), new_survey_path %></li>
              <li><%= link_to fa_icon("list", text: 'Listar'), surveys_path %></li>
            </ul>
          </li>
          <li class="<%= active_class(notifications_path) %>">
            <a href="#"><%= fa_icon("paper-plane", text: content_tag(:span, 'Envios')) %> <%= fa_icon("angle-down", class:'pull-right') %></a>
            <ul class="treeview-menu">
              <li><%= link_to fa_icon("list", text: 'Listar'), notifications_path %></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="<%= active_class(customers_path) %>">
        <%= link_to fa_icon("group", text: content_tag(:span, 'Clientes')), customers_path %>
      </li>
      <li class="<%= active_class(orders_path) %>">
        <%= link_to fa_icon("shopping-bag", text: content_tag(:span, 'Pedidos')), orders_path %>
      </li>
      <li class="<%= active_class(statuses_path) %>">
        <%= link_to fa_icon("tags", text: content_tag(:span, 'Status')), statuses_path %>
      </li>
      <li class="<%= active_class(platforms_path) %>">
        <%= link_to fa_icon("laptop", text: content_tag(:span, 'Plataformas')), platforms_path %>
      </li>
      <li class="<%= active_class(mappings_path) %>">
        <%= link_to fa_icon("cogs", text: content_tag(:span, 'Configurações')), mappings_path %>
      </li>
      <li class="treeview <%= active_class(tasks_path) %>">
        <a href="#"><%= fa_icon("tasks", text: content_tag(:span, 'Tarefas')) %> <%= fa_icon("angle-down", class:'pull-right') %></a>
        <ul class="treeview-menu">
          <li><%= link_to fa_icon("plus", text: 'Criar'), new_task_path %></li>
          <li><%= link_to fa_icon("history", text: 'Histórico'), tasks_path %></li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
    <!-- Sidebar Footer -->
    <ul class="sidebar-footer hide">
      <li class="header center">
        <%= fa_stacked_icon "angle-double-down inverse", base: "circle", class: "fa-lg" %>
      </li>
    </ul>
    <!-- /.Sidebar Footer -->
  </section>
  <!-- /.sidebar -->
</aside>