<h1>BackHere!</h1>

<p>Oi,</p>

<p><%= @home_message.name %> deixou um recado na página do BackHere!</p>

<p>Mensagem: <%= @home_message.message %></p>

<p>Informações:</p>
<ul>
  <li>Nome: <%= @home_message.name %></li>
  <li>Email: <%= @home_message.email %></li>
  <li>Fone: <%= @home_message.fone %></li>
</ul>