<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="skin-orange sidebar-mini fixed" id='<%= "#{params[:controller].parameterize}-#{action_name}" %>'' >
  <div class="wrapper">

    <%= render partial: 'layouts/backhere/header' %>
    <%= render partial: 'layouts/backhere/sidebar' %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <%= render partial: 'layouts/backhere/content_header' %>
      
      <!-- Main content -->
      <section class="content">        
        <%= flash_messages %>
        <%= yield %>        
      </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <%= render partial: 'layouts/backhere/main_footer' %>

    <!-- TO DO CONTROL SIDEBAR -->

  </div><!-- ./wrapper -->
</body>
</html>
